{% case section.settings.img_size %}
	{% when 'small'  %}{%- assign img_size = '570x320' -%}
	{% when 'medium' %}{%- assign img_size = '570x570' -%}
	{% when 'large'  %}{%- assign img_size = '570x760' -%}
{% endcase %}

<div class="section section_homepage section_image-with-text">
	<div class="container">
		<div class="item_wrap {% case section.settings.layout %}{% when 'left' %}image_left{% when 'right' %}image_right{% endcase %}">
			<div class="item_img">
				{% if section.settings.image.size > 0 %}
					<img src="{{ section.settings.image | img_url: img_size, crop: section.settings.img_alignment }}" alt="{{ section.settings.image.alt }}">
				{% else %}
					<div class="img_placeholder__wrap img_placeholder__{{ section.settings.img_size }}">
						{{ 'image' | placeholder_svg_tag: 'img_placeholder' }}
					</div>
				{% endif %}	
			</div>

			<div class="item_txt">
				{% if section.settings.title.size > 0 %}
					<h3 class="split_words">{{ section.settings.title | escape }}</h3>
				{% endif %}

				{% if section.settings.text.size > 0 %}
					<p>{{ section.settings.text | strip_html }}</p>
				{% endif %}

				{% if section.settings.button_label.size > 0 and section.settings.button_link.size > 0 %}
					<a class="btn" href="{{ section.settings.button_link }}">
						{{ section.settings.button_label }}
					</a>
				{% endif %}
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
</div>

{% schema %}
{
	"name": "Image with text",
	"class": "index-section",
	"settings": [
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		},
		{
			"type": "select",
			"id": "layout",
			"label": "Layout",
			"default": "left",
			"options": [
				{
					"value": "left",
					"label": "Image on left"
				},
				{
					"value": "right",
					"label": "Image on right"
				}
			]
		},
		{
			"type": "select",
			"id": "img_size",
			"label": "Image size",
			"options": [
				{
					"value": "small",
					"label": "Small (570x320)"
				},
				{
					"value": "medium",
					"label": "Medium (570x570)"
				},
				{
					"value": "large",
					"label": "Large (570x760)"
				}
			]
		},
		{
			"type": "select",
			"id": "img_alignment",
			"label": "Image alignment",
			"options": [
				{
					"value": "top",
					"label": "Top"
				},
				{
					"value": "center",
					"label": "Middle"
				},
				{
					"value": "bottom",
					"label": "Bottom"
				}
			]
		},
		{
			"type": "text",
			"id": "title",
			"label": "Heading",
			"default": "Image with text"
		},
		{
			"type": "textarea",
			"id": "text",
			"label": "Text",
			"default": "Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review."
		},
		{
			"type": "text",
			"id": "button_label",
			"label": "Button label"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "Button link"
		}
	],
	"presets": [
		{
			"name": "Image with text",
			"category": "Image"
		}
	]
}
{% endschema %}